@import "../../../vars.css";

.container {
  border-radius: 15px;
  margin-top: 15vh;
  z-index: 1;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-align: center;
  background-color: var(--color-dark);
  opacity: 1;
  padding: 8px 18px;
  border-radius: 12px;
}

.nameDe{
  text-align: end;
  width: 100%;

}

.black {
  color: black;
}

.bgTitle {
  /*background-image: url(/assets/hero/bg3.png);*/
  background-image: url(/assets/nav/about.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}



.contentHistory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}



.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;
  background-color: var(--color-dark);
  margin: 50px;
  border-radius: 70px 0px 70px 0px; /* Haut gauche et bas droite */
}


.nameImg {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.aboutImage {
  width: 5vw;
  min-width: 150px;
  max-width: 60vh;
  padding: 9px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
}

.aboutItemsHistory {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
  width: 40vw;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 0px 25px 25px 25px;
}


.aboutItemText {
  display: flex;
  flex-direction: column;
  align-items:start;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  gap: 10px;
}


.aboutItem h3 {
  font-size: 15px;
  font-weight: 600;
}


.aboutItem h1 {
  font-size: 2.5vw;    
  text-align: center;  
  margin-left: -20px;

}

.aboutItem p {
  font-size: 1.5vw
}


.containerMotion {
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 30px;
}

.itemMotion {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
  cursor: grabbing;
  align-items: center;
}

.itemMotion:hover {
  cursor: grab;
}

.directorImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.directorItem {
  border-radius: 15px; /* Coins arrondis pour un cadre plus classique */
  text-align: center;
  border-style: solid;
  border-width: 6px; /* Bord plus large pour un effet de cadre épais */
  border-color: #b28d55; /* Couleur dorée ou boisée typique des cadres anciens */
  padding: 12px; /* Espacement interne pour donner de l'air autour du contenu */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre plus marquée pour l'effet de profondeur */
  background-color: #f8f1e1; /* Couleur de fond beige ou crème pour simuler un cadre vintage */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce */
  font-family: 'Georgia', serif; /* Police élégante pour un look plus classique */
}

.directorItem:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}


.directorInfo h3 {

  font-size: 16px;
  font-weight: bold;
}

.directorInfo p {
  font-size: 14px;
  color: #555;
}



@media screen and (max-width: 1090px) {
  .directorImages {
    grid-template-columns: repeat(1, 1fr);
  }
}



@media screen and (max-width: 830px) {

  
  .aboutItem h1 {
    margin-left: 0px;
  }

  .title {
    font-size: 30px;
  }
  .aboutItems {
    width: 80vw;
  }

  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 12vh;
    padding: 20px 0;
  }

  .content {
    flex-direction: column;
    text-align: center;
    margin: 10px;

  }

  .contentHistory {
    flex-direction: column;
    text-align: center;
  }

  .aboutItem p {
    font-size: 15px
  }

  .aboutItem h1 {
    font-size: 30px;
    width: 100%;

  }

  .aboutItems {
    margin-top: 29px;
    text-align: center;
  }

  .aboutItem{
    padding:0;
    }


  .aboutItemText {
      align-items:center;
    }

  .bgTitle {
    min-height: 200px;
  }


  
}


