@import "../../../vars.css";

.container {
  border-radius: 15px;
  margin-top: 15vh;
  z-index: 1;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-align: center;
  background-color: var(--color-red);
  opacity: 1;
  padding: 8px 18px;
  border-radius: 12px;
}

.nameDe{
  text-align: end;
  width: 100%;

}

.black {
  color: black;
}

.bgTitle {
  /*background-image: url(/assets/hero/bg3.png);*/
  background-image: url(/assets/nav/about.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



.contentHistory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}



.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;
  background-color: var(--color-red);
  margin: 50px;
  border-radius: 70px 0px 70px 0px; /* Haut gauche et bas droite */
}


.nameImg {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.aboutImage {
  width: 40vw;
  min-width: 250px;
  max-width: 60vh;
  padding: 20px;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
}

.aboutItemsHistory {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
  width: 40vw;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 0px 25px 25px 25px;
}


.aboutItemText {
  display: flex;
  flex-direction: column;
  align-items:start;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  gap: 10px;
}


.aboutItem h3 {
  font-size: 15px;
  font-weight: 600;
}


.aboutItem h1 {
  font-size: 2.5vw;    
  text-align: center;  
}

.aboutItem p {
  font-size: 1.5vw
}


.containerMotion {
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 30px;
}

.itemMotion {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
  cursor: grabbing;
  align-items: center;
}

.itemMotion:hover {
  cursor: grab;
}




@media screen and (max-width: 830px) {

  .title {
    font-size: 30px;
  }
  .aboutItems {
    width: 80vw;
  }

  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 12vh;
    padding: 20px;
  }

  .content {
    flex-direction: column;
    text-align: center;
    margin: 10px;

  }

  .contentHistory {
    flex-direction: column;
    text-align: center;
  }

  .aboutItem p {
    font-size: 15px
  }

  .aboutItem h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  .aboutItems {
    margin-top: 29px;
    text-align: center;
  }

  .aboutItem{
    padding:0;
    }


    .aboutItemText {
      align-items:center;
    }
}
