:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #fff;
  --color-blue: #0f76b6;
  --color-green: #183b04;
  --color-red:#a31a08;

  /* Fonts */
  --font-roboto: "Roboto";
}
