:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #fff;
  --color-blue: #1485b9;
  --color-green: #183b04;
  --color-red:#b92e1c;
  --color-footer-bg: #045885; /* Bleu foncé */


  /* Fonts */
  --font-roboto: "Roboto";
}
